html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Change background image as needed */
    background-image: url("https://pre00.deviantart.net/08e1/th/pre/i/2017/309/b/3/cloud_background___group_project_by_iamhollingsworth-dbsver6.jpg");
}

.jumbotron {
    background-image: url("https://img00.deviantart.net/6927/i/2017/309/8/9/banner2_by_iamhollingsworth-dbsvomt.jpg");
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #337ab7;
    margin-top: 10px;
    font-style: bold;
}

.panel {
    background: #337ab7;
    text-align: center;
}

.container {
    background: #ffffff;
    border-style: solid;
    border-color: #337ab7;
    border-top: none;
}

table {
    color: black;
    background-color: #337ab7
}

th {
    text-align: center;
    font-size: 75%;
}

a {
    color: black;
    font-size: 75%;

}

;
:hover {
    color: black;
    background-color: #337ab7
}